header{
  background-color: white;
}

body{
  background-color: orange;
}


footer{
  background-color: white;
}

#QuickSneakers{
  background-color: orange;
}

#productdetails{
  background-color: white;
}
